    .card-horizontal {
        padding: 10px;
        display: flex;
        flex: 1 1 auto;
        padding-bottom: 0px;
    }
    
    .row {
        max-height: 50%;
    }
    
    .website {
        margin: 10px;
        margin-left: 0px;
        width: 150px;
    }
    
    .cardwebsite {
        display: flex;
        flex-direction: column;
    }
    
    .card-body {
        margin-top: 0px;
        width: 400px;
        margin: 0px;
        padding: 15px;
        padding-bottom: 0px;
    }
    
    .card-title {
        text-align: center;
    }
    
    .card img {
        width: 150px;
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .btn a {
        text-decoration: none;
        color: white;
    }
    
    .btn:hover {
        /* background-color: rgba(197, 0, 0, 0.89); */
        border: 1px solid white;
    }
    
    .container-fluid,
    .card,
    .row {
        width: fit-content;
        margin: 0px;
    }
    
    .img-square-wrapper {
        align-self: center;
        align-content: center;
        /* padding-left: 9px; */
    }
    
    .profile>a {
        /* padding: 0; */
        margin: 3px;
    }
    
    .profile button {
        margin: 0 5px 5px 5px;
        padding: 3px 10px;
        background-color: rgb(43, 131, 211);
        border: 1px solid rgba(43, 131, 211);
    }
    
    .profile button:first-child {
        margin-left: 63px;
    }
    
    .profile {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .separator {
        /* padding-top: 20px; */
        /* padding-bottom: 3px; */
        margin: 20px 40px 0 40px;
        color: white;
        background-color: rgb(8, 58, 197);
        text-align: center;
        font-size: x-large;
    }
    
    .goup {
        justify-content: center;
        margin: 20px 0;
        padding: 2px 7px;
        border-radius: 0px;
        /* text-transform: lowercase; */
        background-color: rgb(45, 120, 182);
    }
    
    .goup:hover {
        background-color: rgba(45, 120, 182, 0.473);
        color: black;
        border: 2px solid black;
    }
    
    .goup a:hover {
        color: black;
    }
    
    .logo {
        margin-left: 117px;
        padding: 10px;
        float: left;
    }
    
    .logopcet {
        padding: 10px;
        float: right;
    }
    
    .header {
        text-align: center;
    }
    
    .clg-name {
        min-width: 200px;
        padding: 10px;
    }
    
    .affiliation {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .cardwebsite {
        align-content: center;
        align-items: center;
        vertical-align: middle;
    }
    
    .card-text {
        padding-bottom: 5px;
    }
    
    .card-body {
        padding-top: 0;
        padding-right: 0;
    }
    
    .profile {
        margin-top: 0px;
        padding-top: 0px;
    }
    
    @media only screen and (max-width: 600px) {
        .logo {
            display: block;
            margin-right: 50px;
            margin-left: 110px;
        }
        .card-horizontal {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
        .card-body {
            width: 100%;
            margin: 0px;
            padding: 9px;
            font-size: small;
        }
        .img-square-rapper {
            width: 50%;
            align-content: center;
            align-self: center;
            align-items: center;
            padding-left: 0;
        }
        img {
            width: 100%;
            padding-left: 0;
        }
        .card {
            display: flex;
            flex-direction: column;
            width: 200px;
        }
        .container-fluid {
            padding: 0px;
            width: 10;
        }
        .container-fluid,
        .card,
        .row {
            width: 300px;
            margin: 0px;
        }
        .profile button:first-child {
            margin-left: 0px;
        }
    }
    
    .card4 {
        margin-bottom: 5px;
    }
    
    .profile {
        display: flex;
        justify-content: center;
    }